* {
	margin: 0;
	padding: 0;
}

.topbar {
	position: fixed;
	height: 7vh;
	width: 100vw;
	background-color: #4571e2;
	border-bottom-left-radius: 2.3vh;
	border-bottom-right-radius: 2.3vh;
	display: flex;
	text-align: center;
	justify-content: center;
}

.topbar h1 {
	margin: auto;
	text-align: center;
	font-size: 2vh;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	color: #fff;
}

.share-button {
	position: absolute;
	height: 2.2vh;
	right: 0;
	margin-right: 10vw;
	margin-top: 2.4vh;
	position: fixed;
}

.heading {
	margin-left: 5vw;
}

.heading h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 2vh;
	font-weight: 600;
	color: #000000;
}

.heading h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vh;
	font-weight: 400;
	color: #545454;
}

.top-space {
	height: 11vh;
}

.phn {
	margin-top: 2vh;
	margin-left: 5vw;
	display: flex;
}

.phn img {
	height: 4.5vh;
	padding-right: 2vw;
}

.state-help {
	margin-left: 5vw;
	margin-top: 1.5vh;
	height: 3vh;
	padding-right: 2vw;
}

p {
	height: 5vh;
}

.data {
	display: flex;
	margin-left: 5vw;
	margin-top: 2vh;
}

.data img{
	height: 11vh;
	padding-right: 2vw;
}

.do{
	display: flex;
	margin-left: 5vw;
	margin-top: 2vh;
}

.do img{
	width: 44vw;
	padding-right: 2vw;
}

.dont{
	display: flex;
	margin-left: 5vw;
	margin-top: 2vh;
}

.dont img{
	width: 44vw;
	padding-right: 2vw;
}

h4{
	text-align: center;
	justify-content: center;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vh;
	font-weight: 400;
	color: #545454;
}

.state {
	text-align: center;
	justify-content: center;
}

.state h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 2vh;
	font-weight: 600;
	color: #000000;
}

.state h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 0.6vh;
	font-weight: 400;
	color: #545454;
}

.help-phn {
	margin-top: 2vh;
	display: flex;
	text-align: center;
	justify-content: center;
}

.help-phn img {
	height: 4.5vh;
	padding-right: 2vw;
}
