* {
	margin: 0;
	padding: 0;
}

.topbar {
	position: fixed;
	height: 7vh;
	width: 100vw;
	background-color: #2B56C6;
	border-bottom-left-radius: 2vh;
	border-bottom-right-radius: 2vh;
	display: flex;
	text-align: center;
	justify-content: center;
}

.topbar h1 {
	margin: auto;
	text-align: center;
	font-size: 2vh;
	font-weight: 600;
	font-family: 'Nunito', sans-serif;
	color: #fff;
}

.share-button {
	position: absolute;
	height: 2.2vh;
	right: 0;
	margin-right: 10vw;
	margin-top: 2.4vh;
}



*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

.hidden {
	display: none;
}

svg {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}

button,
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 2px;
	text-transform: capitalize;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
}

button:hover,
.button:hover {
	border-color: #cdd;
}

.copy-link {
	padding-left: 30px;
	padding-right: 30px;
}

.share-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.share-dialog {
	display: none;
	width: 95%;
	max-width: 500px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
	z-index: -1;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
}

.share-dialog.is-open {
	display: block;
	z-index: 2;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.targets {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.close-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.close-button svg {
	margin-right: 0;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 4px;
	background-color: #eee;
}

.pen-url {
	margin-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
