body {
	margin: 0;
}

.top {
	display: none;
	top: 0;
	left: 0;
	margin-top: 0;
	margin-left: 0;
	height: 13vh;
	width: 100vw;
	background-color: white;
	position: fixed;
}

.top h3,
.top h1 {
	margin-left: 0;
	padding-left: 5vw;
}

.date {
	margin-top: 3vh;
	font-size: 1.5vh;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #5D5D5D;
}

h1 {
	margin-top: 2vh;
	margin-bottom: 1vh;
	font-size: 4vh;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #000;
}


.box::-webkit-scrollbar {
	display: none;
}

.map {
	display: none;
}

a {
	text-decoration: none;
}

.card {
	margin-top: 15vh;
	margin-left: 5vw;
	width: 90vw;
	height: 26.5vh;
	object-fit: cover;
	border-radius: 1vh;
	box-shadow: 0 0.5vh 2vh 0 #00000033;
}

h3 {
	margin-left: 5vw;
	margin-top: 2vh;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2vh;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-align: left;
	color: #ff4a4a;
}

h2 {
	margin-left: 5vw;
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 2.2vh;
	font-weight: 700;
	letter-spacing: -0.1px;
	text-align: left;
	color: #000000;
}

.loader-wrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F3F3F3;
	z-index: 999;
}

.loader-wrapper h1 {
	margin-left: 5vw;

}

.loader-wrapper h2 {
	margin-left: 5vw;
}

.loader-wrapper h3 {
	margin-left: 0;
	margin-top: 60vh;
	color: #131313;
	font-weight: 400;
	font-size: 1.5vh;
	display: flex;
	justify-content: center;
}

.loader-wrapper img {
	margin-top: 15vh;
	margin-left: 5vw;
	width: 4vh;
}

.top img {
	position: absolute;
	right: 0;
	top: 0;
	width: 5vh;
	margin-top: 4vh;
	margin-right: 5vw;
}

