/*color variables*/

:root {

	/*	background colors*/
	--bg-light: #FCF4EF;
	--bg-dark: #121212;

	/*  logo colors*/
	--red: #de5c5c;
	--transparent: #de5c5c00;

	/*	card colors*/
	--card-light: #fff;
	--card-dark: #232222;

	/*	news colors*/
	--red1: #f6b5b5;
	--red2: #de5c5c;
	--red3: #c85151;
	--red4: #f89e9e;
	--violet1: #433cc9;
	--violet2: #b8b4fe;

	/*	state card colors*/
	--state-card-light: #edeeef;
	--state-card-dark: #111111;

	/*	state card heading colors*/
	--state-card-head-light: #dcdcdc;
	--state-card-headfont-light: #7C848B;

	--state-card-head-dark: #232222;
	--state-card-headfont-dark: #D1D1D1;

	/*	state card data colors*/
	--state-card-data-light: #ffffff;
	--state-card-datafont-light: #7c848b;

	--state-card-data-dark: #373636;
	--state-card-datafont-dark: #D1D1D1;


	/*	card gradient*/
	--red-gradient: linear-gradient(to right, #de5c5c 0%, #ffaeae 100%);
	--purple-gradient: linear-gradient(to right, #837df7 0%, #c0bcff 100%);

}

/*******************************/

* {
	margin: 0;
	padding: 0;
	transition: all 0.5s ease;
}

body {
	background-color: var(--bg-light);

}

.top {
	margin-top: 1vh;
	background-color: var(--bg-light);
	display: flex;
	text-align: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
}



/*news section - notification*/

.news {
	margin-top: 9vh;
	background-color: var(--bg-light);
	text-align: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
}

.news1-t {
	font-family: 'Oswald', sans-serif;
	font-size: 1.3vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	color: var(--red1);
	text-align: center;
	margin-top: 3vh;
}

.news1-c {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: 0.55px;
	color: var(--red2);
	text-align: center;
	margin-top: 1.5vh;
	width: 70vw;
	margin-left: 15vw;
}





/*logo styling*/

.logo {
	display: flex;
	padding-left: 20vw;
	padding-right: 20vw;
	padding-top: 2vh;
}

.logo h1 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--red);
}

.logo h2 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--transparent);
}




/*night mode logo styling*/

.night {
	height: 2.5vh;
	padding-top: 2vh;
}



/*notification logo styling*/

.notification {
	height: 2.5vh;
	padding-top: 2vh;
}



/*card styling*/

.card {
	width: 93.5vw;
	height: 320vh;
	background-color: var(--card-light);
	margin-left: 3.25vw;

	/*	space at top of card*/
	margin-top: 9vh;


	box-shadow: 10px 10px 50px 0 #00000029;
	border-radius: 2vh 2vh 0 0;
	z-index: 100;
	position: absolute;
}




.india-today {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--red3);
	margin-bottom: 1.5vh;
	margin-left: 6.75vw;
}

.state-today {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--violet1);
	margin-bottom: 1.5vh;
	margin-left: 6.75vw;
	padding-top: 3.5vh;
}




.india {
	width: 80vw;
	height: 18.5vh;
	background-image: var(--red-gradient);
	margin-left: 6.75vw;
	border-radius: 1.5vh;
}

.india-image {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	margin-top: 6.5vh;
	margin-right: 2vw;
	height: 18.5vh;
	background-image: var(--transparent);
	margin-left: 6.75vw;
	border-radius: 1.5vh;
}

.india-image img {
	height: 22.6vh;
}



.state {
	width: 80vw;
	height: 18.5vh;
	background-image: var(--purple-gradient);
	margin-left: 6.75vw;
	border-radius: 1.5vh;

	/*	margin-top: 2vh;*/
}

.state-image {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	margin-right: 12.5vw;
	height: 18.5vh;
	background-image: var(--transparent);
	margin-left: 6.75vw;
	border-radius: 1.5vh;

	margin-top: 31.5vh;
	/*changing for state change*/
}

.state-image img {
	height: 22.5vh;
}




/*data styling*/


/*india*/

.india .numbers {
	margin-left: 5vw;
	padding-top: 2vh;
}

.india .numbers h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-total {
	font-family: 'Oswald', sans-serif;
	font-size: 4.5vh;
	font-weight: normal;
	line-height: 1.45;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-deaths {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-recovered {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex div {
	padding-right: 5vw;
}


/*state*/

.state .numbers {
	margin-left: 5vw;
	padding-top: 2vh;
}

.state .numbers h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-total {
	font-family: 'Oswald', sans-serif;
	font-size: 4.5vh;
	font-weight: normal;
	line-height: 1.45;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-deaths {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-recovered {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}



/*spacing*/

p {
	margin-top: 6vh;
}

.num-flex {
	padding-top: 1vh;
	display: flex;
}



/*state card*/

.state-card {
	background-color: var(--state-card-light);
	width: 80vw;
	height: 58.5vh;
	margin-left: 6.75vw;
	margin-top: 5.5vh;
	border-radius: 1.5vh;
}

.state-card .heading {
	display: flex;
	padding-top: 2.2vh;
}

.state-card .heading .state-name-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.state-card .heading .state-total-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.state-card .heading .state-deaths-0 {
	border-radius: 0.75vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
}


.state-card .heading .state-name-0 h1,
.state-card .heading .state-total-0 h1,
.state-card .heading .state-deaths-0 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-headfont-light);
	text-align: center;
	margin-top: 0.8vh;
}



/*state data calculations*/

.state-card .s {
	display: flex;
	padding-top: 1.25vh;
}

.state-card .s .state-name-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.state-card .s .state-total-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.state-card .s .state-deaths-1 {
	border-radius: 0.75vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
}


.state-card .s .state-name-1 h1,
.state-card .s .state-total-1 h1,
.state-card .s .state-deaths-1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-datafont-light);
	text-align: center;
	margin-top: 0.8vh;
}

/*******************************************************/

.more {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 45vw;
	margin-right: 2vw;
	margin-left: 17.5vw;
	margin-top: 3vh;
}

.more h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-headfont-light);
	text-align: center;
	padding-top: 0.8vh;
}




/******************************************************/

/*hiding some states (rank 11 - rank 37)*/


.state-card .s11,
.state-card .s12,
.state-card .s13,
.state-card .s14,
.state-card .s15,
.state-card .s16,
.state-card .s17,
.state-card .s18,
.state-card .s19,
.state-card .s20,
.state-card .s21,
.state-card .s22,
.state-card .s23,
.state-card .s24,
.state-card .s25,
.state-card .s26,
.state-card .s27,
.state-card .s28,
.state-card .s29,
.state-card .s30,
.state-card .s31,
.state-card .s32,
.state-card .s33,
.state-card .s34,
.state-card .s35,
.state-card .s36,
.state-card .s37 {
	display: none;
}





.druhin {
	display: flex;
	width: 22vw;
	justify-content: center;
	margin-left: 35.75vw;
}

a {
	text-decoration: none;
}

.druhin h1 {
	-webkit-text-stroke: 2px var(--state-card-datafont-light);
	font-family: Montserrat;
	font-size: 2.3vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--state-card-datafont-light);
}

.druhin h2 {
	-webkit-text-stroke: 2px var(--state-card-datafont-light);
	font-family: Montserrat;
	font-size: 2.3vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--transparent);
}

.madeby {
	margin-top: 7vh;
	margin-bottom: 0.25vh;
	font-family: Montserrat;
	font-size: 1.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--state-card-datafont-light);
}


.footer {
	display: flex;
	justify-content: center;
	margin-top: 3.5vh;
}

.footer h1 {
	padding-right: 4vw;
	text-align: center;
	font-family: Montserrat;
	font-size: 1.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--state-card-datafont-light);
}








/**************************************************/

/*chart styling*/


.chart {
	background-color: var(--state-card-light);
	width: 80vw;
	height: 103vh;
	margin-left: 6.75vw;
	margin-top: 5.5vh;
	border-radius: 1.5vh;
}



.chart .heading {
	margin-top: 2vh;
	display: flex;
	padding-top: 2.2vh;
}

.chart .heading .state-name-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.chart .heading .state-total-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.chart .heading .state-deaths-0 {
	border-radius: 0.75vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
}

.chart .heading .state-name-0 h1,
.chart .heading .state-total-0 h1,
.chart .heading .state-deaths-0 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-headfont-light);
	text-align: center;
	margin-top: 0.8vh;
}



.chart .s {
	display: flex;
	padding-top: 1.25vh;
}

.chart .s .state-name-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.chart .s .state-total-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.chart .s .state-deaths-1 {
	border-radius: 0.75vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
}


.chart .s .state-name-1 h1,
.chart .s .state-total-1 h1,
.chart .s .state-deaths-1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-datafont-light);
	text-align: center;
	margin-top: 0.8vh;
}



.chart1 {
	height: 30vh;
	width: 62vw;
	margin-left: 9vw;
}

.chart1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: center;
	color: var(--red3);
	padding-top: 3.5vh;
}

.max {
	margin-top: 3vh;
	display: flex;
}

.max-ch {
	width: 2vw;
	height: 16.5vh;
	border-radius: 2vh;
	background-color: var(--state-card-data-light);
	margin-right: 8vw;
}

.max-ch:last-child {
	margin-right: 0;
}



.value {
	margin-top: 3vh;
	display: flex;
	position: relative;
	margin-top: -16.5vh;
}

.max-v {
	width: 2vw;
	height: 16.5vh;
	border-radius: 2vh;
	background-color: var(--red3);
	margin-right: 8vw;
}

.max-v:last-child {
	margin-right: 0;
}






.max-dates {
	margin-top: 2vh;
	display: flex;
	justify-content: center;
}

.max-d {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	color: var(--state-card-datafont-light);
	margin-right: 8vw;
	width: 2vw;
	text-align: center;
}

.max-d:last-child {
	margin-right: 0
}




/***********************************/

/*chart values*/


#total-d0 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d1 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d2 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d3 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d4 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d5 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#total-d6 {
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}



#death-d0 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d1 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d2 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d3 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d4 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d5 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}

#death-d6 {
	background-color: var(--violet1);
	height: 3vh;
	margin-top: calc(16.5vh - 3vh);
}



#total-d {
	color: var(--red3);
}

#death-d {
	color: var(--violet1);
}

/*

.max-d:first-child {
	margin-left: -0.5vw;
}
*/



/*
.state-today {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--violet1);
	margin-bottom: 1.5vh;
	margin-left: 6.75vw;
	padding-top: 3.5vh;
}*/




/************************************************/


/*buy me a coffee*/

.donate {
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
	background-color: var(--red);
	text-align: center;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
/*	position: absolute;*/
	z-index: 99999;
	right: 0;
	bottom: 0;
	margin-right: 5vw;
	margin-bottom: 3vh;
	position: fixed;
}

.donate img {
	height: 4rem;
	margin-top: 2rem;
}

/*
.thanks {
	height: 4vh;
	width: auto;
	border-radius: 1vh;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .8);

	z-index: 99999;
	right: 0;
	bottom: 0;
	margin-right: 20vw;
	margin-bottom: 4vh;

}
*/

/*
.thanks h1 {
	padding-left: 4vw;
	padding-right: 4vw;
	
	transition: all 1s ease;

	font-family: 'Montserrat', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	letter-spacing: px;
	text-align: left;
	color: #131313;
	text-align: center;
	margin-top: 1.2vh;

}
*/



/* patient chart styling*/


.chart2 {
	background-color: var(--state-card-light);
	width: 80vw;
	height: 65vh;
	margin-left: 6.75vw;
	margin-top: 5.5vh;
	border-radius: 1.5vh;
}



.chart2 .heading {
	margin-top: 2vh;
	display: flex;
	padding-top: 2.2vh;
}

.chart2 .heading .state-name-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.chart2 .heading .state-total-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.chart2 .heading .state-deaths-0 {
	border-radius: 0.75vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
}

.chart2 .heading .state-name-0 h1,
.chart2 .heading .state-total-0 h1,
.chart2 .heading .state-deaths-0 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-headfont-light);
	text-align: center;
	margin-top: 0.8vh;
}



.chart2 .s {
	display: flex;
	padding-top: 1.25vh;
}

.chart2 .s .state-name-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.chart2 .s .state-total-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.chart2 .s .state-deaths-1 {
	border-radius: 0.75vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
}


.chart2 .s .state-name-1 h1,
.chart2 .s .state-total-1 h1,
.chart2 .s .state-deaths-1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-datafont-light);
	text-align: center;
	margin-top: 0.8vh;
}

.chart2-t {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: center;
	color: var(--red3);
	padding-top: 3.5vh;
}

.chart2-t2 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.45vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: center;
	color: var(--state-card-headfont-dark);
	padding-top: 2.5vh;
}



