/*color variables*/

:root {

	/*	background colors*/
	--bg-light: #FCF4EF;
	--bg-dark: #121212;

	/*  logo colors*/
	--red: #de5c5c;
	--transparent: #de5c5c00;

	/*	card colors*/
	--card-light: #fff;
	--card-dark: #232222;

	/*	state card colors*/
	--state-card-light: #edeeef;
	--state-card-dark: #111111;

	/*	state card heading colors*/
	--state-card-head-light: #dcdcdc;
	--state-card-headfont-light: #7C848B;

	--state-card-head-dark: #232222;
	--state-card-headfont-dark: #D1D1D1;

	/*	state card data colors*/
	--state-card-data-light: #ffffff;
	--state-card-datafont-light: #7c848b;

	--state-card-data-dark: #373636;
	--state-card-datafont-dark: #D1D1D1;


	/*	card gradient*/
	--red-gradient: linear-gradient(to right, #de5c5c 0%, #ffaeae 100%);
	--purple-gradient: linear-gradient(to right, #837df7 0%, #c0bcff 100%);

}

/*******************************/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-light);
}

.top {
	margin-top: 1vh;
	background-color: var(--bg-light);
	display: flex;
	text-align: center;
	justify-content: center;
	position: fixed;
	width: 100vw;
}




/*logo styling*/

.logo {
	display: flex;
	padding-left: 20vw;
	padding-right: 20vw;
	padding-top: 2vh;
}

.logo h1 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--red);
}

.logo h2 {
	-webkit-text-stroke: 2px var(--red);
	font-family: Montserrat;
	font-size: 2.5vh;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: var(--transparent);
}




/*night mode logo styling*/

.night {
	height: 2.5vh;
	padding-top: 2vh;
}



/*notification logo styling*/

.notification {
	height: 2.5vh;
	padding-top: 2vh;
}



/*card styling*/

.card {
	width: 93.5vw;
	height: 240vh;
	background-color: var(--card-light);
	margin-left: 3.25vw;
	margin-top: 9vh;
	box-shadow: 10px 10px 50px 0 #00000029;
	border-radius: 2vh 2vh 0 0;
	z-index: 100;
	position: absolute;
}


.india {
	width: 80vw;
	height: 18.5vh;
	background-image: var(--red-gradient);
	margin-left: 6.75vw;
	border-radius: 1.5vh;
}

.india-image {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	margin-top: 4vh;
	margin-right: 2vw;
	height: 18.5vh;
	background-image: var(--transparent);
	margin-left: 6.75vw;
	border-radius: 1.5vh;
}

.india-image img {
	height: 22.6vh;
}



.state {
	width: 80vw;
	height: 18.5vh;
	background-image: var(--purple-gradient);
	margin-left: 6.75vw;
	border-radius: 1.5vh;

	margin-top: 6vh;
}

.state-image {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	margin-top: 4vh;
	margin-right: 13vw;
	height: 18.5vh;
	background-image: var(--transparent);
	margin-left: 6.75vw;
	border-radius: 1.5vh;

	margin-top: 28.5vh;
}

.state-image img {
	width: 30.5vw;
}




/*data styling*/


/*india*/

.india .numbers {
	margin-left: 5vw;
	padding-top: 2vh;
}

.india .numbers h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-total {
	font-family: 'Oswald', sans-serif;
	font-size: 4.5vh;
	font-weight: normal;
	line-height: 1.45;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-deaths {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.india-recovered {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex div {
	padding-right: 5vw;
}


/*state*/

.state .numbers {
	margin-left: 5vw;
	padding-top: 2vh;
}

.state .numbers h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-total {
	font-family: 'Oswald', sans-serif;
	font-size: 4.5vh;
	font-weight: normal;
	line-height: 1.45;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}


.num-flex h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-deaths {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}

.state-recovered {
	margin-top: 0.5vh;
	font-family: 'Oswald', sans-serif;
	font-size: 3.25vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: #fff;
}



/*spacing*/

p {
	margin-top: 6vh;
}

.num-flex {
	padding-top: 1vh;
	display: flex;
}



/*state card*/

.state-card {
	background-color: var(--state-card-light);
	width: 80vw;
	height: 175vh;
	margin-left: 6.75vw;
	margin-top: 6vh;
	border-radius: 1.5vh;
}

.state-card .heading {
	display: flex;
	padding-top: 2.2vh;
}

.state-card .heading .state-name-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.state-card .heading .state-total-0 {
	border-radius: 0.8vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.state-card .heading .state-deaths-0 {
	border-radius: 0.75vh;
	background-color: var(--state-card-head-light);
	height: 3vh;
	width: 17vw;
}


.state-card .heading .state-name-0 h1,
.state-card .heading .state-total-0 h1,
.state-card .heading .state-deaths-0 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-headfont-light);
	text-align: center;
	margin-top: 0.8vh;
}



/*state data calculations*/

.state-card .s {
	display: flex;
	padding-top: 1.25vh;
}

.state-card .s .state-name-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 35vw;
	margin-right: 2vw;
	margin-left: 3.5vw;
}

.state-card .s .state-total-1 {
	border-radius: 0.8vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
	margin-right: 2vw;
}

.state-card .s .state-deaths-1 {
	border-radius: 0.75vh;
	background-color: var(--state-card-data-light);
	height: 3vh;
	width: 17vw;
}


.state-card .s .state-name-1 h1,
.state-card .s .state-total-1 h1,
.state-card .s .state-deaths-1 h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4vh;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0.55px;
	text-align: left;
	color: var(--state-card-datafont-light);
	text-align: center;
	margin-top: 0.8vh;
}